* {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.UDD_LB {
  width: 100%;
  text-align: center;
  background-color: rgba(39, 48, 189, 1.0);
  height: 10vh;
  margin-bottom: 5vh;
}
.UDD_L {
  height: 90%;
  margin-bottom: auto;
  margin-top: auto;
}

.AcountDDLabel {
  color: white;
  font-family: sans-serif;
  background-color: rgba(39, 48, 189, 1.0);
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 40px;
}

.ACT {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  font-size: 7.5vh;
  margin-bottom: 5vh;
}
.ACS {
  margin-bottom: 10vh;
}
.AC {
  height: 10vh;
  width: 54%;
  padding-left: 1%;
  padding-right: 5%;
  background-color: rgba(255, 255, 255, 1.0);
  border-radius: 1vh;
  border-color: rgba(0, 0, 0, 1.0);
  border-width: 2px;
  border-style: solid;
  line-height: 10vh;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  z-index: 9999;
}
.AC:hover {
  background-color: rgba(39, 48, 189, 1.0);
  color: white;
}
/*.AC {
  height: 10vh;
  width: 55%;
  padding-right: 5%;
  background-color: rgba(255, 255, 255, 1.0);
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
  border-width: 2px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  line-height: 10vh;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
}*/



/*----------------- LESSON PAGE --------------------*/

.LPEB {
  height: 100%;
  margin-top: 0px;
  z-index: 1002;
}

.LPT {
  width: 100%;
  text-align: center;
  font-size: 5vh;
  line-height: 10vh;
  color: white;
  position: absolute;
  left: auto;
  right: auto;
}

.EMBADDISABLE {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    margin-top: -40%;
    z-index: 1000;
}











@media only screen and (max-width: 1150px) { /*1150px*/

.VideoDisplayer {
    width: 90vw;
    height: 50vw;
    position: fixed;
    left: 5vw;
    right: 5vw;
    top: auto;
    bottom: auto;
    top: 35vh;
}

.ACT {
  font-size: 6vh;
}
.AC {
  width: 84%;
}




}
